<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/meta', {pageTitle: 'Dashboard'}); %>

	<!-- Bootstrap -->
	<link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- iCheck -->
	<link href="/vendor/iCheck/skins/flat/green.css" rel="stylesheet">
	<!-- PNotify -->
	<link href="/vendor/pnotify/dist/pnotify.css" rel="stylesheet">
	<link href="/vendor/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
	<link href="/vendor/pnotify/dist/pnotify.brighttheme.css" rel="stylesheet">
	<link href="/vendor/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
	<!-- FullCalendar -->
	<link href="/vendor/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
	<link href="/vendor/fullcalendar/dist/fullcalendar.print.css" rel="stylesheet" media="print">
	<!-- Custom Theme Style -->
	<link href="/base/stylesheets/bundle.min.css" rel="stylesheet">

</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">

			<!-- left navigation -->
			<%- include('../partials/left_nav', {user: user}); %>
			<!-- /left navigation -->

			<!-- top navigation -->
			<%- include('../partials/top_nav', {user: user}); %>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="page-title">
						<div class="title_left">
							<h3>My Dashboard <small>Any sessions you booked will show up here</small></h3>
						</div>
					</div>

					<div class="clearfix"></div>

					<div class="row">
						<div class="col-md-12">
							<div class="x_panel">
								<div class="x_title">
									<h2>Schedule</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">

									<div id='calendar'></div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /page content -->

			<!-- footer content -->
			<%- include('../partials/footer'); %>
			<!-- /footer content -->
		</div>
	</div>

	<!-- calendar modal -->
	<div id="CalenderModalEventDetails" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close close2" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel2">Session Details</h4>
				</div>
				<div class="modal-body">

					<div id="testmodal2" style="padding: 5px 20px;">
						<form id="antoform2" class="form-horizontal calender" role="form">
							<div class="form-group">
								<label class="col-sm-3 control-label">Start</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="start" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">End</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="end" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Mentor</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="mentor" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Mentee</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="mentee" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Zoom Link</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="zoom-join" readonly>
								</div>
							</div>

						</form>
					</div>
				</div>
				<div class="modal-footer">
					<p style="text-align: left;">Note: you will only be charged after your request has been confirmed by the mentor.
					If the mentor refuses your request you will be refunded in full. If the mentor does not show up for the seesion,
					please email us and we will refund you in full.</p>
					<button type="button" class="btn btn-default close2" data-dismiss="modal" style="margin: 0;">Close</button>
					<button type="button" id='cancel' class="btn btn-danger antoupdate btn-control" style="margin: 0;">Cancel Request</button>
				</div>
			</div>
		</div>
	</div>

	<div id="event_details" data-toggle="modal" data-target="#CalenderModalEventDetails"></div>
	<!-- /calendar modal -->

	<!-- jQuery -->
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- FastClick -->
	<script src="/vendor/fastclick/lib/fastclick.js"></script>
	<!-- iCheck -->
	<script src="/vendor/iCheck/icheck.min.js"></script>
	<!-- gauge.js
	<script src="/vendor/bernii/gauge.js/dist/gauge.min.js"></script>

	<script src="/vendor/Chart.js/dist/Chart.min.js"></script>
-->
<!-- jQuery Sparklines -->
<script src="/vendor/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- PNotify -->
<script src="/vendor/pnotify/dist/pnotify.js"></script>
<script src="/vendor/pnotify/dist/pnotify.buttons.js"></script>
<script src="/vendor/pnotify/dist/pnotify.nonblock.js"></script>
<!-- FullCalendar -->
<script src="/vendor/moment/min/moment.min.js"></script>
<script src="/vendor/fullcalendar/dist/fullcalendar.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="/vendor/gentelella/js/custom.min.js"></script>

<!-- FullCalendar -->
<script>
$(window).load(function() {
	var user = <%- JSON.stringify(user) %>
	var date = new Date(),
	d = date.getDate(),
	m = date.getMonth(),
	y = date.getFullYear(),
	started,
	categoryClass;

	function showDangerNotify (msg) {
		PNotify.removeAll()
		new PNotify({
			title: 'Error',
			text: msg,
			type: 'error',
			styling: "bootstrap3",
			delay: 4000,
			buttons: {sticker: false},
		});
	}


	function showInfoNotify (msg) {
		PNotify.removeAll()
		new PNotify({
			title: 'Info',
			text: msg,
			styling: "bootstrap3",
			delay: 4000,
			buttons: {sticker: false},
		});
	}


	function showSuccessNotify (msg) {
		PNotify.removeAll()
		new PNotify({
			title: 'Success',
			text: msg,
			type: 'success',
			styling: "bootstrap3",
			delay: 4000,
			buttons: {sticker: false},
		});
	}

	var calendar = $('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		selectable: false,
		selectHelper: false,
		editable: false,
		minTime: "07:00:00",
		maxTime: "22:00:00",
		allDaySlot: false,
		eventClick: function(calEvent, jsEvent, view) {
			if (['taken', 'finished', 'noshow'].indexOf(calEvent.type) !== -1)
				$('#cancel').hide()
			else {
				$("#cancel").off().on("click", function() {
					$.ajax({
						url: "/mentee/session/cancel/"+calEvent._id,
						type: 'PUT',
						data: { type: "available", color: "green" }
					})
					.done((res) => {
						showInfoNotify('Your Session Has Been Canceled')
						$('.close').click();
						calendar.fullCalendar('refetchEvents')
					})
				}).show();
			}

			$('#event_details').click();
			$('#start').val(calEvent.start.format('dddd, MMMM Do YYYY, HH:mm'))
			$('#end').val(calEvent.end.format('dddd, MMMM Do YYYY, HH:mm'))
			$('#mentor').val(calEvent.mentor.profile.first_name + ' ' + calEvent.mentor.profile.last_name)
			$('#mentee').val(calEvent.type === 'available' ? '' : calEvent.mentee.profile.first_name + ' ' + calEvent.mentee.profile.last_name)
			$('#zoom-join').val(calEvent.joinURL)


			calendar.fullCalendar('unselect');

		},
		events: '/mentee/mySessions',
		eventRender: function(event, element) {
			element.append('Click for more details<br>Status: '+event.type+'<br>'+'Mentor: '+event.mentor.profile.first_name)
		}

	});
});
</script>
<!-- /FullCalendar -->

<!-- jQuery Sparklines -->
<script>
$(document).ready(function() {
	$(".sparkline_one").sparkline([2, 4, 3, 4, 5, 4, 5, 4, 3, 4, 5, 6, 7, 5, 4, 3, 5, 6], {
		type: 'bar',
		height: '40',
		barWidth: 9,
		colorMap: {
			'7': '#a1a1a1'
		},
		barSpacing: 2,
		barColor: '#26B99A'
	});

	$(".sparkline_two").sparkline([2, 4, 3, 4, 5, 4, 5, 4, 3, 4, 5, 6, 7, 5, 4, 3, 5, 6], {
		type: 'line',
		width: '200',
		height: '40',
		lineColor: '#26B99A',
		fillColor: 'rgba(223, 223, 223, 0.57)',
		lineWidth: 2,
		spotColor: '#26B99A',
		minSpotColor: '#26B99A'
	});
});
</script>
<!-- /jQuery Sparklines -->

</body>
</html>
