<div class="col-md-6 col-sm-6 col-xs-12 profile_details" hidden>
  <div class="well profile_view">
    <div class="col-sm-12">
      <div class="left col-xs-7">
        <h2><%= profile.profile.first_name + ' ' + profile.profile.last_name %></h2>
		<p><%= profile.email %></p>
        <p><strong>About: </strong> </p>
        <ul class="list-unstyled">
          <% if (profile.role == "mentor") { %>
          <li><i class="fa fa-book"></i> <%= profile.profile.curr_school %> </li>
          <li><i class="fa fa-book"></i> <%= profile.profile.curr_major %> </li>
          <% } else { %>
          <li><i class="fa fa-book"></i> <%= profile.profile.high_school %> </li>
          <li><i class="fa fa-book"></i> Grade: <%= profile.profile.grade %> </li>
          <% } %>
        </ul>
      </div>
      <div class="right col-xs-5 text-center">
        <img src="/base/images/user.png" alt="" class="img-circle img-responsive">
      </div>
    </div>
    <div class="col-xs-12 bottom">
      <div class="col-xs-12 col-sm-12 col-md-12 emphasis">

		  <% if (title === 'My Mentors' && user.role === 'mentee') { %>
			  <a type="button" class="btn btn-success btn-xs details pull-right" href = "/mentee/mentor-availability/<%= profile._id %>" >
				<i class="fa fa-user"></i> Availability
			  </a>
			  <a type="button" class="btn btn-primary btn-xs details pull-right" href = "/mentee/mentor-profile/<%= profile._id %>" >
				  <i class="fa fa-user"></i> Profile
			  </a>
		  <% } else if (title === 'Mentor Search' && user.role === 'mentor') { %>
			  <a type="button" class="btn btn-primary btn-xs details pull-right" href = "/mentor/mentor-profile/<%= profile._id %>" >
				  <i class="fa fa-user"></i> Profile
			  </a>
		  <% } else if (title === 'Mentor Search' && user.role === 'mentee') { %>
			  <a type="button" class="btn btn-primary btn-xs details pull-right" href = "/mentee/mentor-profile/<%= profile._id %>" >
				  <i class="fa fa-user"></i> Profile
			  </a>
		  <% } else if (title === 'My Mentees' && user.role === 'mentor') { %>
			  <a type="button" class="btn btn-primary btn-xs details pull-right" href = "/mentor/mentee-profile/<%= profile._id %>" >
				  <i class="fa fa-user"></i> Profile
			  </a>
		  <% } %>


      </div>
    </div>
  </div>
</div>
