<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/meta', {pageTitle: 'View Mentor Detail'}); %>

    <!-- Bootstrap -->
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- PNotify -->
    <link href="vendor/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="vendor/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="vendor/pnotify/dist/pnotify.brighttheme.css" rel="stylesheet">
    <link href="vendor/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="vendor/gentelella/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- left navigation -->
        <%- include('./partials/left_nav', {user: user}); %>
        <!-- /left navigation -->

        <!-- top navigation -->
        <%- include('./partials/top_nav', {user: user}); %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Mentor Profile</h3>
              </div>

              <div class="title_right">
                  <div class="input-group pull-right">
                    <a type="button" href="/dashboard" class="btn btn-round btn-default">Back</a>
                  </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">

                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                      <div class="profile_img">

                        <!-- end of image cropping -->
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <img class="img-responsive avatar-view" src="images/picture.jpg" alt="Avatar" title="Change the avatar">

                          <!-- Cropping modal -->
                          <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <form class="avatar-form" action="crop.php" enctype="multipart/form-data" method="post">
                                  <div class="modal-header">
                                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                                    <h4 class="modal-title" id="avatar-modal-label">Change Avatar</h4>
                                  </div>
                                  <div class="modal-body">
                                    <div class="avatar-body">

                                      <!-- Upload image and data -->
                                      <div class="avatar-upload">
                                        <input class="avatar-src" name="avatar_src" type="hidden">
                                        <input class="avatar-data" name="avatar_data" type="hidden">
                                        <label for="avatarInput">Local upload</label>
                                        <input class="avatar-input" id="avatarInput" name="avatar_file" type="file">
                                      </div>

                                      <!-- Crop and preview -->
                                      <div class="row">
                                        <div class="col-md-9">
                                          <div class="avatar-wrapper"></div>
                                        </div>
                                        <div class="col-md-3">
                                          <div class="avatar-preview preview-lg"></div>
                                          <div class="avatar-preview preview-md"></div>
                                          <div class="avatar-preview preview-sm"></div>
                                        </div>
                                      </div>

                                      <div class="row avatar-btns">
                                        <div class="col-md-9">
                                          <div class="btn-group">
                                            <button class="btn btn-primary" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees">Rotate Left</button>
                                            <button class="btn btn-primary" data-method="rotate" data-option="-15" type="button">-15deg</button>
                                            <button class="btn btn-primary" data-method="rotate" data-option="-30" type="button">-30deg</button>
                                            <button class="btn btn-primary" data-method="rotate" data-option="-45" type="button">-45deg</button>
                                          </div>
                                          <div class="btn-group">
                                            <button class="btn btn-primary" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees">Rotate Right</button>
                                            <button class="btn btn-primary" data-method="rotate" data-option="15" type="button">15deg</button>
                                            <button class="btn btn-primary" data-method="rotate" data-option="30" type="button">30deg</button>
                                            <button class="btn btn-primary" data-method="rotate" data-option="45" type="button">45deg</button>
                                          </div>
                                        </div>
                                        <div class="col-md-3">
                                          <button class="btn btn-primary btn-block avatar-save" type="submit">Done</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- <div class="modal-footer">
                                                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                                  </div> -->
                                </form>
                              </div>
                            </div>
                          </div>
                          <!-- /.modal -->

                          <!-- Loading state -->
                          <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                        </div>
                        <!-- end of image cropping -->

                      </div>
                      <h3><%= mentor.profile.first_name + ' ' + mentor.profile.last_name %></h3>

                      <ul class="list-unstyled user_data">
                        <li>
                          <i class="fa fa-institution user-profile-icon"></i> <%= mentor.profile.curr_school %>
                        </li>
                        <li>
                          <i class="fa fa-briefcase user-profile-icon"></i> <%= mentor.profile.curr_major %>
                        </li>
                        <% if (mentor.profile.curr_minor) { %>
                        <li>
                          <i class="fa fa-book user-profile-icon"></i> <%= mentor.profile.curr_minor %>
                        </li>
                        <% } %>

                        <% if (mentor.profile.linkedin) { %>
                        <li class="m-top-xs">
                          <i class="fa fa-external-link user-profile-icon"></i>
                          <a href=<%= mentor.profile.linkedin %> target="_blank"><%= mentor.profile.linkedin %></a>
                        </li>
                        <% } %>
                      </ul>

                      <!-- Large modal -->

                      <% if (matched == false && user.role === 'mentee') { %>
                      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 10001;">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">

                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                              </button>
                              <h4 class="modal-title" id="myModalLabel">Confirm Mentor Choice</h4>
                            </div>
                            <div class="modal-body">
                              <h4><strong>Are You Sure You Want To Choose <%= mentor.profile.first_name + ' ' + mentor.profile.last_name %> As Your Mentor?</strong></h4>
                              <p>
                              Please keep in mind that your mentor will guide you through all aspects of your university admissions process.
                              Make sure that you read through the mentor's profile throughly and that you believe he/she is a good choice. Note that
                              while changing mentors in the future is possible, we will only approve such requests if you have a valid reason for doing so.
                              </p>
                              <div class="modal-footer">
                                <button type="button" id="btn-choose-mentor" class="btn btn-success" style="margin-bottom:0;" >Confirm Choice</button>
                                <button type="button" id="btn-close-modal" class="btn btn-default" data-dismiss="modal" style="margin-bottom:0;">Back</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <button id ='chooseMentor' class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-check-square-o m-right-xs"></i> &nbspChoose This Mentor</button>
                      <% } else if (matched === true && user.role === 'mentee') { %>
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="z-index: 10001;">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Confirm Cancellation</h4>
                              </div>
                              <div class="modal-body">
                                <h4><strong>Are You Sure You Want To Cancel This Mentorship?</strong></h4>
                                <p>
                                Please keep in mind that doing so will end your mentorship with this mentor permanantly. Your mentorship fee with this mentor
                                will not be refunded unless you have a valid reason for cancelling this mentorship. Any outstanding sessions you have with this
                                mentor will be voided.
                                </p>
                                <div class="modal-footer">
                                  <button type="button" id="btn-cancel-mentor" class="btn btn-danger" style="margin-bottom:0;" >Confirm Cancellation</button>
                                  <button type="button" id="btn-close-modal" class="btn btn-default" data-dismiss="modal" style="margin-bottom:0;">Back</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <button id ='cancelMentor' class="btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-check-square-o m-right-xs"></i> &nbspCancel Mentorship</button>
                      <% } %>
                      <br />

                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">About Me</a>
                          </li>
                          <% if (matched === true) { %>
                          <li role="presentation" class=""><a href="#tab_content4" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Contact Information</a>
                          </li>
                          <% } %>
                        </ul>

                        <div id="myTabContent" class="tab-content">

                          <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                            <!-- About -->
                            <ul class="messages">
                              <!-- start skills -->
                              <h4>Skills</h4>
                              <ul class="list-unstyled user_data">
                                <% for (var i = 0; i < mentor.profile.skills.length; i++) { %>
                                <li>
                                  <p><%= mentor.profile.skills[i] %></p>
                                </li>
                                <% } %>
                              </ul>
                              <!-- end of skills -->
                              <h4>Paragraph 1</h4>
                              <%= mentor.profile.paragraphs[0] %>
                              <h4>Paragraph 2</h4>
                              <%= mentor.profile.paragraphs[1] %>
                              <h4>Paragraph 3</h4>
                              <%= mentor.profile.paragraphs[2] %>
                              <h4>Paragraph 4</h4>
                              <%= mentor.profile.paragraphs[3] %>

                            </ul>
                            <!-- end about -->

                          </div>

                          <% if (matched === true) { %>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="home-tab">
                            <div>
                              <p>Email: <%= mentor.email %></p>
                              <p>Phone: <%= mentor.profile.phone %></p>
                              <p>LinkedIn: <%= mentor.profile.linkedin %></p>
                            </div>
                          </div>
                          <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <%- include('./partials/footer'); %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="vendor/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="vendor/nprogress/nprogress.js"></script>
    <!-- morris.js -->
    <script src="vendor/raphael/raphael.min.js"></script>
    <script src="vendor/morris.js/morris.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="vendor/moment/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>
    <!-- PNotify -->
    <script src="vendor/pnotify/dist/pnotify.js"></script>
    <script src="vendor/pnotify/dist/pnotify.buttons.js"></script>
    <script src="vendor/pnotify/dist/pnotify.nonblock.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="vendor/gentelella/js/custom.min.js"></script>

    <!-- bind buttons -->
    <script>
      $(document).ready(function() {
        $('#btn-choose-mentor').click(function() {
          $.post("/choose-mentor", {mentor_id: '<%= mentor._id %>'})
          .done(function (res) {
            new PNotify({
              title: 'Mentor Chosen!',
              text: res,
              type: 'success',
              styling: "bootstrap3"
            });
            $("#chooseMentor").hide();
            $('#btn-close-modal').click();
            setTimeout(function () {
              window.location.href = "/dashboard";
            }, 2000);
          })
          .fail(function () {
            new PNotify({
              title: 'Error!',
              text: "Oops, looks like something went wrong. Please try again later.",
              type: 'error',
              styling: "bootstrap3"
            });
            setTimeout(function () {
              window.location.href = "/dashboard";
            }, 2000);
          });
        });
        $('#btn-cancel-mentor').click(function() {
          $.post("/cancel-mentor", {mentor_id: '<%= mentor._id %>'})
          .done(function (res) {
            new PNotify({
              title: 'Mentorship Cancelled!',
              text: res,
              type: 'notice',
              styling: "bootstrap3"
            });
            $("#cancelMentor").hide();
            $('#btn-close-modal').click();
            setTimeout(function () {
              window.location.href = "/dashboard";
            }, 2000);
          })
          .fail(function () {
            new PNotify({
              title: 'Error!',
              text: "Oops, looks like something went wrong. Please try again later.",
              type: 'error',
              styling: "bootstrap3"
            });
            setTimeout(function () {
              window.location.href = "/dashboard";
            }, 2000);
          });
        });
      });
    </script>
    <!-- end bind buttons -->

    <!-- datepicker -->
    <script type="text/javascript">
      $(document).ready(function() {

        var cb = function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
          //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
        }

        var optionSet1 = {
          startDate: moment().subtract(29, 'days'),
          endDate: moment(),
          minDate: '01/01/2012',
          maxDate: '12/31/2015',
          dateLimit: {
            days: 60
          },
          showDropdowns: true,
          showWeekNumbers: true,
          timePicker: false,
          timePickerIncrement: 1,
          timePicker12Hour: true,
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          opens: 'left',
          buttonClasses: ['btn btn-default'],
          applyClass: 'btn-small btn-primary',
          cancelClass: 'btn-small',
          format: 'MM/DD/YYYY',
          separator: ' to ',
          locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Clear',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
          }
        };
        $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
        $('#reportrange').daterangepicker(optionSet1, cb);
        $('#reportrange').on('show.daterangepicker', function() {
          console.log("show event fired");
        });
        $('#reportrange').on('hide.daterangepicker', function() {
          console.log("hide event fired");
        });
        $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
          console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
        });
        $('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
          console.log("cancel event fired");
        });
        $('#options1').click(function() {
          $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
        });
        $('#options2').click(function() {
          $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
        });
        $('#destroy').click(function() {
          $('#reportrange').data('daterangepicker').remove();
        });
      });
    </script>
    <!-- /datepicker -->
  </body>
</html>
