<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/meta', {pageTitle: 'Complete Registration'}); %>

    <!-- Bootstrap -->
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="vendor/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="vendor/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Dropzone.js -->
    <link href="vendor/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="vendor/gentelella/css/custom.min.css" rel="stylesheet">
    <link href="css/overrides.css" rel="stylesheet">

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">

        <!-- left navigation -->
        <%- include('./partials/left_nav', {user: user}); %>
        <!-- /left navigation -->

        <!-- top navigation -->
        <%- include('./partials/top_nav', {user: user}); %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <% if (user.role==='mentee') { %>
            <%- include('./partials/mentee_complete_form', {user: user}); %>
          <% } else { %>
            <%- include('./partials/mentor_complete_form', {user: user}); %>
          <% } %>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <%- include('./partials/footer'); %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="vendor/fastclick/lib/fastclick.js"></script>
    <!-- iCheck -->
    <script src="vendor/iCheck/icheck.min.js"></script>
    <!-- Select2 -->
    <script src="vendor/select2/dist/js/select2.full.min.js"></script>
    <!-- Dropzone.js -->
    <script src="vendor/dropzone/dist/min/dropzone.min.js"></script>
    <!-- validator -->
    <script src="vendor/validator/validator.min.js"></script>
    <script src="vendor/validator/multifield.js"></script>
    <!-- jQuery Smart Wizard -->
    <script src="vendor/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <!-- jquery.inputmask -->
    <script src="vendor/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <!-- jQuery Tags Input -->
    <script src="vendor/jquery.tagsinput/src/jquery.tagsinput.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="vendor/gentelella/js/custom.min.js"></script>

    <!-- Select2 -->
    <script>
      $(document).ready(function() {
        $(".select2_single").select2({
          placeholder: "Choose One...",
          allowClear: true
        });
        $(".select2_multiple_2").select2({
          maximumSelectionLength: 2,
          placeholder: "Choose up to 2",
          allowClear: true
        });
        $(".select2_multiple_3").select2({
          maximumSelectionLength: 3,
          placeholder: "Choose up to 3",
          allowClear: true
        });
        $(".select2_multiple_4").select2({
          maximumSelectionLength: 4,
          placeholder: "Choose up to 4",
          allowClear: true
        });
      });
    </script>
    <!-- /Select2 -->

    <!-- jquery.inputmask -->
    <script>
      $(document).ready(function() {
        $(":input").inputmask();
      });
    </script>
    <!-- /jquery.inputmask -->


    <!-- validator -->
    <script>

      // initialize the validator function
      validator.message.date = 'not a real date';

      // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
      $('form')
        .on('blur', 'input[required], input.optional, textarea[required], select.required', validator.checkField)
        .on('change', 'select.required', validator.checkField)
        //.on('keypress', 'input[required][pattern]', validator.keypress);

      $('#form-step-2').submit(function(e) {

        e.preventDefault();
  			var submit = true;
  			// evaluate the form using generic validaing
  			if( !validator.checkAll( $('form') ) ){
  				submit = false;
  			}

  			if ( submit ) {
          var form2SelectCount = $('#form-step-2').find("select").length;

          $('#form-step-1 :input, #form-step-1 textarea, #form-step-1 select').clone().hide().appendTo('#form-step-2');
          $('#form-step-3 :input, #form-step-3 textarea').clone().hide().appendTo('#form-step-2');

          var selects = $('#form-step-1').find("select");

          $(selects).each(function(i) {
              var select = this;
              $('#form-step-2').find("select").eq(i+form2SelectCount).val($(select).val());
          });

  				this.submit();
        }
  			return false;

      });

    </script>
    <!-- /validator -->


    <!-- jQuery Tags Input -->
    <script>
      function onAddTag(tag) {
        alert("Added a tag: " + tag);
      }

      function onRemoveTag(tag) {
        alert("Removed a tag: " + tag);
      }

      function onChangeTag(input, tag) {
        alert("Changed a tag: " + tag);
      }

      $(document).ready(function() {
        $('#tags_1').tagsInput({
          width: '100%',
          maxTags: 10
        });
      });
    </script>
    <!-- /jQuery Tags Input -->

    <!-- jQuery Smart Wizard -->
    <script>
      $(document).ready(function() {
        $('#wizard').smartWizard({
          onLeaveStep: function() {
            return validator.checkAll($('form'));
          },
          onFinish: function() {
            $('#form-step-2').submit();
          },
          hideButtonsOnDisabled: true,
          transitionEffect: 'slide',
          labelFinish:'Accept'
        });

        $('.buttonNext').addClass('btn btn-success');
        $('.buttonPrevious').addClass('btn btn-primary');
        $('.buttonFinish').addClass('btn btn-default');
      });
    </script>
    <!-- /jQuery Smart Wizard -->
  </body>
</html>
