<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/meta', {pageTitle: 'View Mentor Detail'}); %>

    <!-- Bootstrap -->
    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- PNotify -->
    <link href="/vendor/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="/vendor/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="/vendor/pnotify/dist/pnotify.brighttheme.css" rel="stylesheet">
    <link href="/vendor/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
    <!-- Custom Theme Style -->
	<link href="/base/stylesheets/bundle.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- left navigation -->
        <%- include('../partials/left_nav', {user: user}); %>
        <!-- /left navigation -->

        <!-- top navigation -->
        <%- include('../partials/top_nav', {user: user}); %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>My Tokens</h3>
              </div>

              <div class="title_right">
                  <div class="input-group pull-right">
                    <a type="button" href="/mentee/dashboard" class="btn btn-round btn-default">Back</a>
                  </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
					  <h2>You Currently Have <%= tokens %> Tokens %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <%- include('../partials/footer'); %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/vendor/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/vendor/nprogress/nprogress.js"></script>
    <!-- morris.js -->
    <script src="/vendor/raphael/raphael.min.js"></script>
    <script src="/vendor/morris.js/morris.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/vendor/moment/moment.min.js"></script>
    <script src="/vendor/datepicker/daterangepicker.js"></script>
    <!-- PNotify -->
    <script src="/vendor/pnotify/dist/pnotify.js"></script>
    <script src="/vendor/pnotify/dist/pnotify.buttons.js"></script>
    <script src="/vendor/pnotify/dist/pnotify.nonblock.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/vendor/gentelella/js/custom.min.js"></script>

    <!-- /datepicker -->
  </body>
</html>
